ToDoListConsole/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ToDoList" />
  <xs:element name="GetToDoList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ToDoList" minOccurs="0" name="GetToDoListResult" nillable="true" type="q1:ArrayOfToDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDoListById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDoListByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ToDoList" minOccurs="0" name="GetToDoListByIdResult" nillable="true" type="q2:ArrayOfToDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDoListByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDoListByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ToDoList" minOccurs="0" name="GetToDoListByNameResult" nillable="true" type="q3:ArrayOfToDo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>